.carousel-box{
  width:100%;
  position:relative;
}

.slide > div
{
  height:250px;
}

.carousel-box .text{
  height:100%;
  display: flex;
  justify-content:center;
  align-items:Center;
  color:#a79563;
  font-size:1.5rem;
  background: rgba(255,255,255,0.3);
  background: rgba(0,0,0,0.3);
}

@media screen and (min-width:600px)
{
  .slide > div
  {
    height:500px;
  }
    .carousel-box .text{
      height:100%;
      display: flex;
      justify-content:center;
      align-items:Center;
      color:#a79563;
      font-size:5rem;
    }

}
